<a href="https://colab.research.google.com/github/bawcode/ethiopian-coffee-trade-analysis/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (4.9 kB)
Downloading psycopg2_binary-2.9.11-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (4.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 20.3 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11

Step 2: Download and Extract the Dataset
We’ll use the NYC Yellow Taxi Trip Data (January 2019), which is available as a CSV file (~7 million rows). We’ll download it directly in Colab and sample exactly 2 million rows.

In [ ]:
import pandas as pd
# Download the NYC Taxi Data (January 2019)
url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2019-01.parquet'
df = pd.read_parquet(url)
# Sample exactly 2 million rows
df = df.sample(n=2000000, random_state=42)
print(f"Dataset size: {len(df)} rows")
print(df.head())
print(df.info())

Dataset size: 2000000 rows
         VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
1996239         1  2019-01-09 22:54:47   2019-01-09 23:23:09              1.0
2535676         2  2019-01-11 21:30:16   2019-01-11 21:53:14              2.0
1257411         1  2019-01-06 19:06:07   2019-01-06 19:23:40              1.0
2612269         4  2019-01-12 04:23:27   2019-01-12 04:39:41              1.0
7470804         2  2019-01-31 11:46:57   2019-01-31 11:55:58              1.0

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
1996239           6.20         1.0                  N           249
2535676           4.55         1.0                  N           114
1257411           2.60         1.0                  N           163
2612269           4.37         1.0                  N           234
7470804           0.89         1.0                  N            90

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
1996239           179             1         23.0    0.5      0.5        2.00
2535676           142             2         19.5    0.5      0.5        0.00
1257411           249             1         13.0    0.0      0.5        2.50
2612269           256             1         16.0    0.5      0.5        3.46
7470804           246             1          7.5    0.0      0.5        1.66

         tolls_amount  improvement_surcharge  total_amount  \
1996239           0.0                    0.3         26.30
2535676           0.0                    0.3         20.80
1257411           0.0                    0.3         16.30
2612269           0.0                    0.3         20.76
7470804           0.0                    0.3          9.96

         congestion_surcharge airport_fee
1996239                   NaN        None
2535676                   NaN        None
1257411                   NaN        None
2612269                   NaN        None
7470804                   0.0        None
<class 'pandas.core.frame.DataFrame'>
Index: 2000000 entries, 1996239 to 6643440
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            object
dtypes: datetime64[us](2), float64(11), int64(4), object(2)
memory usage: 305.2+ MB
None

In [ ]:
df.shape

(2000000, 19)

Step 3: Transform the Data
We’ll clean and transform the 2 million rows to prepare them for analysis, ensuring the dataset remains at exactly 2 million rows after cleaning. Transformations will support the business scenario (e.g., analyzing trip patterns).
Transformations:

Remove Invalid Data: Filter out rows with negative fares, zero distances, or missing critical fields.
Convert Data Types: Ensure pickup/dropoff times are datetimes.
Feature Engineering: Add columns like trip duration, pickup hour, and day of the week.
Maintain 2 Million Rows: If cleaning reduces the row count, reload additional rows to compensate.

In [ ]:
# Convert datetime columns
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

# Filter invalid data
df_clean = df[
    (df['fare_amount'] > 0) &
    (df['trip_distance'] > 0) &
    (df['passenger_count'] > 0) &
    (df['tpep_pickup_datetime'].notnull()) &
    (df['tpep_dropoff_datetime'].notnull())
]

# Calculate trip duration (in minutes)
df_clean['trip_duration'] = (df_clean['tpep_dropoff_datetime'] - df_clean['tpep_pickup_datetime']).dt.total_seconds() / 60

# Extract hour and day of week
df_clean['pickup_hour'] = df_clean['tpep_pickup_datetime'].dt.hour
df_clean['pickup_day'] = df_clean['tpep_pickup_datetime'].dt.day_name()

# Select relevant columns
df_clean = df_clean[[
    'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count',
    'trip_distance', 'fare_amount', 'PULocationID', 'DOLocationID',
    'trip_duration', 'pickup_hour', 'pickup_day'
]]

# Check row count and adjust if needed
print(f"Rows after cleaning: {len(df_clean)}")
if len(df_clean) > 2000000:
    df_clean = df_clean.sample(n=2000000, random_state=42)
elif len(df_clean) < 2000000:
    # Load additional rows to compensate for filtered data
    additional_rows_needed = 2000000 - len(df_clean)
    df_additional = pd.read_parquet(url).sample(n=additional_rows_needed + 10000, random_state=43)
    df_additional['tpep_pickup_datetime'] = pd.to_datetime(df_additional['tpep_pickup_datetime'])
    df_additional['tpep_dropoff_datetime'] = pd.to_datetime(df_additional['tpep_dropoff_datetime'])
    df_additional = df_additional[
        (df_additional['fare_amount'] > 0) &
        (df_additional['trip_distance'] > 0) &
        (df_additional['passenger_count'] > 0) &
        (df_additional['tpep_pickup_datetime'].notnull()) &
        (df_additional['tpep_dropoff_datetime'].notnull())
    ]
    df_additional['trip_duration'] = (df_additional['tpep_dropoff_datetime'] - df_additional['tpep_pickup_datetime']).dt.total_seconds() / 60
    df_additional['pickup_hour'] = df_additional['tpep_pickup_datetime'].dt.hour
    df_additional['pickup_day'] = df_additional['tpep_pickup_datetime'].dt.day_name()
    df_additional = df_additional[df_clean.columns]
    df_clean = pd.concat([df_clean, df_additional]).sample(n=2000000, random_state=42)

print(f"Final dataset size: {len(df_clean)} rows")

/tmp/ipython-input-70555697.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['trip_duration'] = (df_clean['tpep_dropoff_datetime'] - df_clean['tpep_pickup_datetime']).dt.total_seconds() / 60
/tmp/ipython-input-70555697.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['pickup_hour'] = df_clean['tpep_pickup_datetime'].dt.hour
/tmp/ipython-input-70555697.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['pickup_day'] = df_clean['tpep_pickup_datetime'].dt.day_name()

Rows after cleaning: 1946591
Final dataset size: 2000000 rows

In [ ]:
%sql \dt

UsageError: Line magic function `%sql` not found.

In [ ]:
from sqlalchemy import create_engine

CREATE TABLE taxi_trips (
    trip_id SERIAL PRIMARY KEY,
    pickup_datetime TIMESTAMP NOT NULL,
    dropoff_datetime TIMESTAMP NOT NULL,
    passenger_count INTEGER NOT NULL,
    trip_distance FLOAT NOT NULL,
    fare_amount FLOAT NOT NULL,
    pickup_location_id INTEGER,
    dropoff_location_id INTEGER,
    trip_duration FLOAT,
    pickup_hour INTEGER,
    pickup_day VARCHAR(10)
);

SyntaxError: invalid syntax (ipython-input-1164064296.py, line 3)

In [ ]:
# Set up database connection
db_url = 'postgresql+psycopg2://username:password@host:port/dbname'  # Replace with ElephantSQL details
engine = create_engine(db_url)

# Load data in chunks
chunk_size = 100000
for i in range(0, len(df_clean), chunk_size):
    chunk = df_clean[i:i + chunk_size]
    chunk.to_sql('taxi_trips', engine, if_exists='append', index=False)
    print(f"Loaded {i + len(chunk)} rows")

print("Data loading complete!")

ValueError: invalid literal for int() with base 10: 'port'

In [ ]:
# Query the database
query = """
SELECT pickup_hour, AVG(fare_amount) as avg_fare, AVG(trip_duration) as avg_duration
FROM taxi_trips
GROUP BY pickup_hour
ORDER BY pickup_hour;
"""
result = pd.read_sql(query, engine)
print(result)

In [ ]:
# Install required libraries
!pip install psycopg2-binary

# Import libraries
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Download and extract data
url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2019-01.parquet'
df = pd.read_parquet(url)
df = df.sample(n=2000000, random_state=42)
print(f"Dataset size: {len(df)} rows")
print(df.head())
print(df.info())

# Step 2: Transform data
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
df_clean = df[
    (df['fare_amount'] > 0) &
    (df['trip_distance'] > 0) &
    (df['passenger_count'] > 0) &
    (df['tpep_pickup_datetime'].notnull()) &
    (df['tpep_dropoff_datetime'].notnull())
]
df_clean['trip_duration'] = (df_clean['tpep_dropoff_datetime'] - df_clean['tpep_pickup_datetime']).dt.total_seconds() / 60
df_clean['pickup_hour'] = df_clean['tpep_pickup_datetime'].dt.hour
df_clean['pickup_day'] = df_clean['tpep_pickup_datetime'].dt.day_name()
df_clean = df_clean[[
    'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count',
    'trip_distance', 'fare_amount', 'PULocationID', 'DOLocationID',
    'trip_duration', 'pickup_hour', 'pickup_day'
]]
print(f"Rows after cleaning: {len(df_clean)}")
if len(df_clean) > 2000000:
    df_clean = df_clean.sample(n=2000000, random_state=42)
elif len(df_clean) < 2000000:
    additional_rows_needed = 2000000 - len(df_clean)
    df_additional = pd.read_parquet(url).sample(n=additional_rows_needed + 10000, random_state=43)
    df_additional['tpep_pickup_datetime'] = pd.to_datetime(df_additional['tpep_pickup_datetime'])
    df_additional['tpep_dropoff_datetime'] = pd.to_datetime(df_additional['tpep_dropoff_datetime'])
    df_additional = df_additional[
        (df_additional['fare_amount'] > 0) &
        (df_additional['trip_distance'] > 0) &
        (df_additional['passenger_count'] > 0) &
        (df_additional['tpep_pickup_datetime'].notnull()) &
        (df_additional['tpep_dropoff_datetime'].notnull())
    ]
    df_additional['trip_duration'] = (df_additional['tpep_dropoff_datetime'] - df_additional['tpep_pickup_datetime']).dt.total_seconds() / 60
    df_additional['pickup_hour'] = df_additional['tpep_pickup_datetime'].dt.hour
    df_additional['pickup_day'] = df_additional['tpep_pickup_datetime'].dt.day_name()
    df_additional = df_additional[df_clean.columns]
    df_clean = pd.concat([df_clean, df_additional]).sample(n=2000000, random_state=42)
print(f"Final dataset size: {len(df_clean)} rows")

# Step 3: Load data into PostgreSQL
db_url = 'postgresql+psycopg2://username:password@host:port/dbname'  # Replace with ElephantSQL details
engine = create_engine(db_url)
chunk_size = 100000
for i in range(0, len(df_clean), chunk_size):
    chunk = df_clean[i:i + chunk_size]
    chunk.to_sql('taxi_trips', engine, if_exists='append', index=False)
    print(f"Loaded {i + len(chunk)} rows")
print("Data loading complete!")

# Step 4: Validate with a sample query
query = """
SELECT pickup_hour, AVG(fare_amount) as avg_fare, AVG(trip_duration) as avg_duration
FROM taxi_trips
GROUP BY pickup_hour
ORDER BY pickup_hour;
"""
result = pd.read_sql(query, engine)
print(result)